* text=auto
*.htm text eol=crlf
*.html text eol=crlf
renames.txt text eol=crlf

*.bsl  text eol=crlf
*.os text eol=crlf

*.xml  text eol=crlf
*.feature text
*.md text
*.json text

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1      text eol=crlf

*.sh text eol=lf
*.groovy text eol=lf
Form.bin binary
*.bin binary

*.png binary
*.ico binary
*.jpg binary
*.jpeg binary

# Archives
*.7z       binary
*.gz       binary
*.tar      binary
*.tgz      binary
*.zip      binary

*.cf binary
*.cfe binary
*.epf binary
*.erf binary
ParentConfigurations.bin binary
